@model LiteDispatch.Domain.Models.DispatchModel
@{
    Layout = "";
}
<table>
    <tr>
        <td>
            <table class="encabezado">
                <tr>
                    <td>@Html.LabelFor(m => m.Transportista)</td>
                    <td>@Html.DisplayFor(m => m.Transportista)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.DispatchDate)</td>
                    <td>@Html.DisplayFor(m => m.DispatchDate)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.DispatchReference)</td>
                    <td>@Html.DisplayFor(m => m.DispatchReference)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.TruckReg)</td>
                    <td>@Html.DisplayFor(m => m.TruckReg)</td>
                </tr>
            </table>
        </td>       
        <td style="vertical-align: top">
            <table class="encabezado">
                <tr>
                    <td>@Html.LabelFor(m => m.User)</td>
                    <td>@Html.DisplayFor(m => m.User)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.State)</td>
                    <td>@Html.DisplayFor(m => m.State)</td>
                </tr>
                <tr></tr>
                <tr></tr>
            </table>
        </td> 
    </tr>
</table>
<table id="lineas">
    <tr>
        <th>Line</th>
        <th>Product Type</th>
        <th>Product</th>
        <th>Metric</th>
        <th>Quantity</th>
        <th>Shop</th>
        <th>Client</th>
    </tr>
    @foreach (var linea in Model.Lines)
    {
        <tr>
            <td>@linea.LineId</td>
            <td>@linea.ProductType</td>
            <td>@linea.Product</td>
            <td>@linea.Metric</td>
            <td>@linea.Quantity</td>
            <td>@linea.ShopTitle()</td>
            <td>@linea.Client</td>
        </tr>
    }
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#lineas > tbody tr:odd").css("background-color", "#F7F7F7");
        $("#lineas > tbody tr th").css("padding-right", "20px"); // ToDo: Use CSS to do this
        $(".encabezado > tbody td:odd").css("background-color", "rgb(122, 192, 218)").css("padding-left", "20px").css("color", "white").css("font-size", "1.2em");
    });
</script>


